version: '3'

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    image: mariadb
    pull_policy: never
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always
    secrets:
      - db_password
      - db_root_password
    environment:
      - SQL_DATABASE=wordpress
      - SQL_USER=user

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
    image: wordpress
    pull_policy: never
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always
    secrets:
      - db_password
      - wp_admin_password
    environment:
      - SQL_DATABASE=wordpress
      - SQL_USER=user
      - SQL_HOST=mariadb:3306

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    image: nginx
    pull_policy: never
    env_file:
      - .env
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always

  #bonus starts
  redis:
    container_name: redis
    build:
      context: ./requirements/bonus/redis/
      dockerfile: Dockerfile
    image: redis
    networks:
      - inception
    restart: always

  adminer:
    image: adminer
    build:
      context: ./requirements/bonus/adminer/
      dockerfile: Dockerfile
    container_name: adminer
    networks:
      - inception
    restart: always

  website:
    image: website
    build:
      context: ./requirements/bonus/website/
      dockerfile: Dockerfile
    container_name: website
    networks:
      - inception
    restart: always

  portainer:
    image: portainer
    build:
      context: ./requirements/bonus/portainer/
      dockerfile: Dockerfile
    container_name: portainer
    ports:
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - inception
    restart: always
  #bonus ends

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/cbopp/data/wordpress
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/cbopp/data/mariadb
  portainer_data:
    driver: local
    driver_opts:
      type: none
      o: bind

networks:
  inception:
    driver: bridge
